.about-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $secondaryColor;
  padding: 60px;
  margin-bottom: 75px;
}

.about-section-1-text {
  width: 500px;
  p:nth-child(2),
  p:nth-child(3) {
    margin-bottom: 50px;
  }
}

.about-section-1 img {
  height: 500px;
  width: 500px;
}

.about-section-2 {
  background: $secondaryColor;
  width: 90%;
  padding: 60px;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  p:nth-child(2) {
    margin-bottom: 50px;
  }
}

.about-section-3 {
  background: $secondaryColor;
}

