.entry-content {
  display: flex;
  justify-content: space-between;
  .text-content {
    a {
      text-transform: uppercase;
      color: $tertiaryColor;
      font-weight: 700;
      font-size: 13px;
    }
    h1 {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}

.text-content h2 {
  color: $tertiaryColor;
  font-family: $primaryFont;
  font-size: 30px;
  margin-bottom: 0;
}

.entry-content img {
  height: 400px;
  width: 600px;
}

.blog-single-text {
  margin-top: -50px;
  z-index: -10;
  background-color: $secondaryColor;
  padding: 150px 30px 30px 30px;
  margin-bottom: 100px;
}
