.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 175px;
}

@media (max-width: 1200px) {
  .contact-container {
    flex-direction: column;
  }
}

.contact-form label {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  flex-direction: column;
  margin-bottom: 50px;
  input {
    padding: 0 10px;
    color: $primaryColor;
    margin-top: 10px;
    background: $secondaryColor;
    border: none;
  }
}

.contact-form textarea {
  background: $secondaryColor;
  color: $primaryColor;
  border: none;
  margin-top: 10px;
  resize: vertical;
}

.contact-form select {
  font-size: 30px;
  font-weight: 700;
  color: $primaryColor;
  border: none;
  margin-top: 20px;
  padding: 20px 50px;
  text-align: center;
  appearance: none;
  background: url("down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 60%, 0 0;
  background-size: 30px;
  background-color: $tertiaryColor;
}

.contact-form input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 3px solid $tertiaryColor;
  background: inherit;
  transition: color .35s, background .35s;
  background: $primaryColor;
  &:hover,
  &:focus {
    color: $secondaryColor;
    background: inherit;
  }
}

@media (max-width: 1200px) {
  .contact-form input[type="submit"] {
    margin-bottom: 75px;
  }
}

.map-location-container {
  text-align: center;
  img {
    width: 500px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 25px;
    color: $primaryColor;
  }
}

@media (max-width: 600px) {
  .map-location-container img {
    width: 100%;
  }
}