footer {
  background: $senaryColor;
  padding: 25px 0;
  .title-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 30px;
      font-family: $secondaryFont;
      text-transform: uppercase;
      font-weight: 700;
      width: 100px;
      margin-bottom: 0;
    }
  }
}

.social-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}