.single-member-section-1 {
  display: flex;
  justify-content: space-between;
  .text-content {
    h1 {
      margin-bottom: 20px;
      font-size: 60px;
    }
    h2 {
      color: $tertiaryColor;
      font-family: $primaryFont;
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1100px) {
  .single-member-section-1 {
    flex-direction: column;
  }
}

.text-content h3 {
  letter-spacing: 1.5px;
  line-height: 34px;
  span {
    color: $primaryColor;
    font-weight: 400;
  }
}

.single-member-section-1 img {
  height: 400px;
  width: 600px;
}


@media (max-width: 1100px) {
  .single-member-section-1 img {
    margin-top: 75px;
    width: 100%;
  }
}

.single-member-section-2 {
  margin-top: -25px;
  z-index: -10;
  background-color: $secondaryColor;
  padding: 150px 30px 30px 30px;
  margin-bottom: 100px;
}
