.category-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  h2 {
    display: inline-block;
    font-size: 35px;
    font-family: $primaryFont;
    font-weight: 700;
    text-align: center;
    border-bottom: 3px solid $tertiaryColor;
  }
}

.category-information-container {
  background: $secondaryColor;
  padding: 60px;
  margin-bottom: 150px;
}