// pale mauve
$primaryColor: #fbf8fa;
// midnight
$secondaryColor: #020726;
// neon pink
$tertiaryColor: #ff009b;
// royal
$quaternaryColor: #062288;
// blood
$quinaryColor: #810207;
// royal two
$senaryColor: #0c2182;

$primaryFont: 'Barlow', sans-serif;
// line-height: 102px, letter-spacing: 3.5px
$secondaryFont: 'Playfair Display', serif;
// line-height: 34px, letter-spacing: 1.5px